# ignore node_modules in  backend folder & frontend folder
# dependencies
backend/book-catalog-559a6-firebase-adminsdk-nrke1-7324c33265.json
backend/node_modules
backend/dist
frontend/node_modules

# Logs
logs
*.log
frontend/npm-debug.log*
frontendyarn-debug.log*
frontendyarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/*.env

# Editor directories and files
.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
